
/bin/
/obj/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

.idea/
.vscode/

node_modules/
dist/
build/

docker-compose.override.yml
**/Dockerfile.*


.DS_Store
.AppleDouble
.LSOverride

*.log
logs/
*.log.*

*.swp
*.tmp
*.bak
*.old

*.sqlite
*.db
*.pem
*.key
